{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Illumiext</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <link rel="stylesheet" href="{% static 'css/media/index-media.css' %}" />
    <script
      src="https://kit.fontawesome.com/4f6c585cf2.js"
      crossorigin="anonymous"
    ></script>
    <!--font Awsome Script-->
  </head>
  <body>
    <div class="hero">
      {% include 'main/nav.html' %}

      <div class="hesec">
        <div class="main">
          <div class="content">
            <h1>Broad Vision Honest Service Great Value</h1>
            <h3>
              Our goal then and now is to provide quality on time projects
            </h3>
            <div class="buts">
              <a href="#">
                <button>
                  Get Free Quote <i class="fas fa-arrow-right"></i></button
              ></a>
              <a href="#">Get In Touch</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- section 2 -->
    <div class="second">
      <div class="main">
        <div class="column">
          <h1>Welcome To The Illuminext Coaching</h1>
          <div class="cont">
            <h2>Where We Build Your Visions</h2>
            <p>
              Every person has far more potential than they realise, even if
              they on improving themselves. Illuminext works to shine a light on
              the possible and work to provide strategies to succeed.
            </p>
          </div>
          <div class="bot">
            <h2><i class="fas fa-phone"></i>Call Us Today</h2>
            <h1>055-22XXXXX</h1>
          </div>
        </div>
        <div class="column">
          <div class="pht-frame">
            <div class="pht">
              <img src="./img/section2.jpg" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- counter -->
    <div class="counter">
      <div class="main">
        <div class="column" data-count="1000">
          <span>0</span>
          <p>Clients</p>
        </div>
        <div class="column" data-count="6500">
          <span>0</span>
          <p>Projects</p>
        </div>
        <div class="column" data-count="6500">
          <span>0</span>
          <p>Repairing</p>
        </div>
        <div class="column" data-count="6500">
          <span>0</span>
          <p>Award</p>
        </div>
      </div>
    </div>
    <section class="second" style="padding-top: 0">
      <div class="cover">
        <div class="content">
          <h1>Get Your Free Consultation</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti
            consequuntur similique voluptates esse repellat veniam
          </p>
          <button>
            Book An Appointment <i class="fas fa-arrow-right"></i>
          </button>
        </div>
      </div>
    </section>
    <!-- fourth section -->
    <div
      class="second"
      style="background: linear-gradient(180deg, #ffffff 0%, #f5f8fb 100%)"
    >
      <div class="main">
        <div class="column">
          <div class="pht-frame">
            <div class="pht">
              <img src="./img/section2.jpg" alt="" />
            </div>
          </div>
        </div>
        <div class="column">
          <h1>Our Specialization</h1>
          <div class="cont">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
              quo explicabo vero. Quisquam quidem sunt nam ducimus, corporis
              incidunt repudiandae rem, doloribus voluptate saepe nostrum harum
            </p>
          </div>
          <div class="smgrid">
            <div class="sec">
              <div class="column">
                <div class="icon"><i class="far fa-square"></i></div>
                <div class="cont">
                  <h3>Architecture</h3>
                  <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  </p>
                </div>
              </div>
              <div class="column">
                <div class="icon"><i class="fas fa-edit"></i></div>
                <div class="cont">
                  <h3>Landscape Design</h3>
                  <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  </p>
                </div>
              </div>
              <div class="column">
                <div class="icon"><i class="fas fa-images"></i></div>
                <div class="cont">
                  <h3>Exterior Design</h3>
                  <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  </p>
                </div>
              </div>
              <div class="column">
                <div class="icon"><i class="far fa-object-group"></i></div>
                <div class="cont">
                  <h3>Site Planning</h3>
                  <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  </p>
                </div>
              </div>
              <div class="column">
                <div class="icon"><i class="far fa-hourglass"></i></div>
                <div class="cont">
                  <h3>Furniture Design</h3>
                  <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  </p>
                </div>
              </div>
              <div class="column">
                <div class="icon"><i class="far fa-object-ungroup"></i></div>
                <div class="cont">
                  <h3>Interior Design</h3>
                  <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- clients say -->
    <div class="clientsaysec">
      <div class="main">
        <div class="main-column">
          <div class="content">
            <h1>What Our Clients Say</h1>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Consectetur enim repellat odio itaque odit dolore excepturi
              possimus facilis velit dolorem at aliquam et necessitatibus fugiat
              laborum cumque, iusto dignissimos expedita.
            </p>
          </div>
          <div class="card">
            <div class="pic">
              <img
                src="./img/people/pexels-andrea-piacquadio-941693.jpg"
                alt=""
              />
            </div>
            <div class="cardcont">
              <i class="fas fa-quote-left"></i>
              <h3>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
                tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
              </h3>
              <h4>Margaret Curtis</h4>
              <p>Real Estate Developer</p>
            </div>
          </div>
        </div>
        <div class="main-column">
          <div class="card">
            <div class="pic">
              <img
                src="./img/people/pexels-marcelo-chagas-2005011.jpg"
                alt=""
              />
            </div>
            <div class="cardcont">
              <i class="fas fa-quote-left"></i>
              <h3>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
                tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
              </h3>
              <h4>Margaret Curtis</h4>
              <p>Real Estate Developer</p>
            </div>
          </div>
          <div class="card">
            <div class="pic">
              <img src="./img/people/pexels-sound-on-3760856.jpg" alt="" />
            </div>
            <div class="cardcont">
              <i class="fas fa-quote-left"></i>
              <h3>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
                tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
              </h3>
              <h4>Margaret Curtis</h4>
              <p>Real Estate Developer</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- our projects -->
    <div class="second bgcwo">
      <div class="main mbn">
        <div class="container">
          <h1>Our Recent Projects</h1>
          <div class="rw">
            <div class="co">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Consectetur blanditiis praesentium, placeat dolore sed dolorum
                unde officiis. Dolores id, quisquam at cum minima obcaecati
              </p>
            </div>
            <button>View All projects &#8594;</button>
          </div>
        </div>
      </div>
      <div class="mainwor">
        <div class="ro">
          <div class="column">
            <div class="section">
              <h1>01.</h1>
              <h2>A Great Mega Project</h2>
            </div>
          </div>
          <div class="column">
            <div class="section">
              <h1>02.</h1>
              <h2>High Tower Building</h2>
            </div>
          </div>
          <div class="column">
            <div class="section">
              <h1>03.</h1>
              <h2>High Tower Building</h2>
            </div>
          </div>
          <div class="column">
            <div class="section">
              <h1>04.</h1>
              <h2>High Tower Building</h2>
            </div>
          </div>
          <div class="column">
            <div class="section">
              <h1>05.</h1>
              <h2>High Tower Building</h2>
            </div>
          </div>
          <div class="column">
            <div class="section">
              <h1>06.</h1>
              <h2>High Tower Building</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- our exper team -->
    <div class="second">
      <div class="main fdc">
        <div class="container">
          <h1>Our Expert team</h1>
          <div class="rw">
            <div class="co">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Consectetur blanditiis praesentium, placeat dolore sed dolorum
                unde officiis. Dolores id, quisquam at cum minima obcaecati
              </p>
            </div>
          </div>
        </div>
        <div class="team">
          <div class="colu">
            <div class="teamimg">
              <img src="./img/people/pexels-sound-on-3760856.jpg" alt="" />
            </div>
            <div class="cont">
              <h1>asdas asda</h1>
              <h3>Project Leader</h3>
              <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus
                necessitatibus fuga modi accusamus harum vitae nam? Neque
                soluta, voluptatibus ipsa nisi sint impedit dolorem reiciendis
                consectetur reprehenderit, cumque voluptatem corporis? Lorem
                ipsum, dolor sit amet consectetur adipisicing elit. Minus
                necessitatibus fuga modi accusamus harum vitae nam? Neque
                soluta, voluptatibus ipsa nisi sint impedit dolorem reiciendis
                consectetur reprehenderit, cumque voluptatem corporis?
              </p>

              <div class="social">
                <ul>
                  <li><i class="fab fa-facebook-f"></i></li>
                  <li><i class="fab fa-twitter"></i></li>
                  <li><i class="fab fa-youtube"></i></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include 'main/footer.html' %}
  </body>
</html>
