{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <link rel="stylesheet" href="{% static 'css/about.css' %}" />
    <link rel="stylesheet" href="{% static 'css/news-more.css' %}" />
    <link rel="stylesheet" href="{% static 'css/media_queries/index-media.css' %}" />
    <link rel="stylesheet" href="{% static 'css/media_queries/about-media.css' %}" />
    <link rel="stylesheet" href="{% static 'css/media_queries/news-media.css' %}" />
    <title>Illuminext</title>
    <script
    src="https://kit.fontawesome.com/4f6c585cf2.js"
    crossorigin="anonymous"
  ></script>
  </head>
  <body>
    <div class="hero">
      {% include 'main/nav.html' %}
    </div>

        <div class="bloger">
            <div class="main">
                <div class="blogcover">
                    <img src="{{ post.image.url }}" alt="">
                </div>
                <div class="cont">
                    <h1>{{ post.title }} </h1>
                    <div class="date">
                        12th december 2021
                    </div>
                    <div class="blogbody">
                        <p> {{ post.description|safe }} </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- what we offer -->
      <div class="second inpd">
        <div class="main fdc">
          <div class="container">
            <h1>Most Recent</h1>
          </div>
          <div class="blog">
            {% for rec in recent %}
            <div class="blogcard">
              <div class="blogpib">
                <img src="{{ rec.image.url }}" alt="">
              </div>
              <div class="cont">
                <h1>{{ rec.title }}</h1>
                  <p>{{ rec.description | safe | slice:"100" }}</p>
                <a href="{% url 'news-more' rec.slug %}">Learn More 	&#8594;</a>
              </div>
            </div>
              {% endfor %}

          </div>
        </div>
      </div>
        <div class="counter">
            <div class="main">
              <div class="column" data-count="1000">
                <span>0</span>
                <p>Clients</p>
              </div>
              <div class="column" data-count="100">
                <span>0</span>
                <p>Projects</p>
              </div>
              <div class="column" data-count="100">
                <span>0</span>
                <p>Repairing</p>
              </div>
              <div class="column" data-count="6">
                <span>0</span>
                <p>Award</p>
              </div>
            </div>
          </div>

      {% include 'main/footer.html' %}
  </body>
</html>
