{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Illumiext</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <link rel="stylesheet" href="{% static 'css/about.css' %}" />
    <link rel="stylesheet" href="{% static 'css/services.css' %}" />
    <link rel="stylesheet" href="{% static 'css/media_queries/index-media.css' %}" />
    <link rel="stylesheet" href="{% static 'css/media_queries/service-media.css' %}" />
    <script
      src="https://kit.fontawesome.com/4f6c585cf2.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="hero">
      {% include 'main/nav.html' %}
      <div class="hesec">
        <div class="main">
          <div class="content">
            <h1>Services</h1>
          </div>
        </div>
      </div>
    </div>

    <!-- second section -->
    <div class="second bgc">
      <div class="recont">
        <h1>Recent Projects</h1>
        <p>Tiny sub heading that focuses on the topic mentioned above</p>
      </div>
      <div class="main seredi">
        <!-- recent projects -->
        <div class="column">
          <div class="pht-frame">
            <div class="pht">
              <img src="{{ item1.image.url }}" alt="" />
            </div>
            <div class="boxpht">
              <p>
                  {{ item1.image_description|safe }}
              </p>
              <div class="botrow">
                <div class="uspic">
                  <img src="{{item1.client_image.url}}" alt="" />
                </div>
                <div class="detpic">
                  <h2>{{ item1.client_name }}</h2>
                  <h3>{{ item1.project_name }}</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <p>{{ item1.client_name }}</p>
          <h1>{{ item1.project_name }}</h1>
          <div class="cont">
            <p>
              {{ item1.description|safe }}
            </p>
          </div>
          <div class="recelist">
            <ul>
              <li>
                <i class="fas fa-sort-up"></i> Lorem ipsum dolor sit amet
                consectetur
              </li>
              <li>
                <i class="fas fa-sort-up"></i> Lorem ipsum dolor sit amet
                consectetur
              </li>
              <li>
                <i class="fas fa-sort-up"></i> Lorem ipsum dolor sit amet
                consectetur
              </li>
              <li>
                <i class="fas fa-sort-up"></i> Lorem ipsum dolor sit amet
                consectetur
              </li>
            </ul>
            <a href="#">
              <button>Visit Project &#8594;</button>
            </a>
          </div>
        </div>
      </div>
      <div class="main seredi">
        <!-- recent projects -->
        <div class="column">
          <p>{{ item2.client_name }}</p>
          <h1>{{ item2.project_name }}</h1>
          <div class="cont">
            <p>
                {{ item2.description | safe }}
            </p>
          </div>
          <div class="recelist">
            <ul>
              <li>
                <i class="fas fa-sort-up"></i> Lorem ipsum dolor sit amet
                consectetur
              </li>
              <li>
                <i class="fas fa-sort-up"></i> Lorem ipsum dolor sit amet
                consectetur
              </li>
              <li>
                <i class="fas fa-sort-up"></i> Lorem ipsum dolor sit amet
                consectetur
              </li>
              <li>
                <i class="fas fa-sort-up"></i> Lorem ipsum dolor sit amet
                consectetur
              </li>
            </ul>
            <a href="#">
              <button>Visit Project &#8594;</button>
            </a>
          </div>
        </div>
        <div class="column">
          <div class="pht-frame">
            <div class="pht">
              <img src="{{ item2.image.url }}" alt="" />
            </div>
            <div class="boxpht">
              <p>
               {{ item2.image_description|safe }}
              </p>
              <div class="botrow">
                <div class="uspic">
                  <img
                    src="{{ item2.client_image.url }}"
                    alt=""
                  />
                </div>
                <div class="detpic">
                  <h2>{{ item2.client_name }}</h2>
                  <h3>{{ item2.project_name }}</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="main seredi">
        <!-- recent projects -->
        <div class="column">
          <div class="pht-frame">
            <div class="pht">
              <img src="{{ item3.image.url }}" alt="" />
            </div>
            <div class="boxpht">
              <p>
                {{ item3.image_description | safe }}
              </p>
              <div class="botrow">
                <div class="uspic">
                  <img
                    src="{{ item3.client_image.url }}"
                    alt=""
                  />
                </div>
                <div class="detpic">
                  <h2>{{ item3.client_name }}</h2>
                  <h3>{{ item3.project_name }}</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <p>{{ item3.client_name }}</p>
          <h1>{{ item3.project_name }}</h1>
          <div class="cont">
            <p>
              {{ item3.description | safe }}
            </p>
          </div>
          <div class="recelist">
            <ul>
              <li>
                <i class="fas fa-sort-up"></i> Lorem ipsum dolor sit amet
                consectetur
              </li>
              <li>
                <i class="fas fa-sort-up"></i> Lorem ipsum dolor sit amet
                consectetur
              </li>
              <li>
                <i class="fas fa-sort-up"></i> Lorem ipsum dolor sit amet
                consectetur
              </li>
              <li>
                <i class="fas fa-sort-up"></i> Lorem ipsum dolor sit amet
                consectetur
              </li>
            </ul>
            <a href="#">
              <button>Visit Project &#8594;</button>
            </a>
          </div>
        </div>
      </div>
    </div>
    <section class="second ckas">
      <div class="cover">
        <div class="content">
          <h1>Get Your Free Consultation</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti
            consequuntur similique voluptates esse repellat veniam
          </p>
          <button>
            Book An Appointment <i class="fas fa-arrow-right"></i>
          </button>
        </div>
      </div>
    </section>

  {% include 'main/footer.html' %}
  </body>
</html>
