{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Illumiext</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <link rel="stylesheet" href="{% static 'css/about.css' %}" />
    <link rel="stylesheet" href="{% static 'css/services.css' %}" />
    <link rel="stylesheet" href="{% static 'css/media/index-media.css' %}" />
    <link rel="stylesheet" href="{% static 'css/media/service-media.css' %}" />
    <script
      src="https://kit.fontawesome.com/4f6c585cf2.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="hero">
      {% include 'main/nav.html' %}
      <div class="hesec">
        <div class="main">
          <div class="content">
            <h1>Services</h1>
          </div>
        </div>
      </div>
    </div>

    <!-- second section -->
    <div class="second bgc">
      <div class="recont">
        <h1>Recent Projects</h1>
        <p>Tiny sub heading that focuses on the topic mentioned above</p>
      </div>
      <div class="main seredi">
        <!-- recent projects -->
        <div class="column">
          <div class="pht-frame">
            <div class="pht">
              <img src="./img/asection2.jpg" alt="" />
            </div>
            <div class="boxpht">
              <p>
                "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id
                accusantium blanditiis tempora beatae iure optio error, aut
                ducimus hic, reprehenderit officia tenetur? Suscipit hic unde
                corrupti sunt magni iure recusandae!"
              </p>
              <div class="botrow">
                <div class="uspic">
                  <img src="./img/people/pexels-sound-on-3760856.jpg" alt="" />
                </div>
                <div class="detpic">
                  <h2>Jhone Doe</h2>
                  <h3>CEO At NY Water Park</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <p>Commercial Properties</p>
          <h1>NY Water Park​</h1>
          <div class="cont">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
              quo explicabo vero. Quisquam quidem sunt nam ducimus, corporis
              incidunt repudiandae rem, doloribus voluptate saepe nostrum harum
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
              quo explicabo vero. Quisquam quidem sunt nam ducimus, corporis
              incidunt repudiandae rem, doloribus voluptate saepe nostrum harum
            </p>
          </div>
          <div class="recelist">
            <ul>
              <li>
                <i class="fas fa-sort-up"></i> Lorem ipsum dolor sit amet
                consectetur
              </li>
              <li>
                <i class="fas fa-sort-up"></i> Lorem ipsum dolor sit amet
                consectetur
              </li>
              <li>
                <i class="fas fa-sort-up"></i> Lorem ipsum dolor sit amet
                consectetur
              </li>
              <li>
                <i class="fas fa-sort-up"></i> Lorem ipsum dolor sit amet
                consectetur
              </li>
            </ul>
            <a href="#">
              <button>Visit Project &#8594;</button>
            </a>
          </div>
        </div>
      </div>
      <div class="main seredi">
        <!-- recent projects -->
        <div class="column">
          <p>Commercial Properties</p>
          <h1>Sky Tail Tower</h1>
          <div class="cont">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
              quo explicabo vero. Quisquam quidem sunt nam ducimus, corporis
              incidunt repudiandae rem, doloribus voluptate saepe nostrum harum
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
              quo explicabo vero. Quisquam quidem sunt nam ducimus, corporis
              incidunt repudiandae rem, doloribus voluptate saepe nostrum harum
            </p>
          </div>
          <div class="recelist">
            <ul>
              <li>
                <i class="fas fa-sort-up"></i> Lorem ipsum dolor sit amet
                consectetur
              </li>
              <li>
                <i class="fas fa-sort-up"></i> Lorem ipsum dolor sit amet
                consectetur
              </li>
              <li>
                <i class="fas fa-sort-up"></i> Lorem ipsum dolor sit amet
                consectetur
              </li>
              <li>
                <i class="fas fa-sort-up"></i> Lorem ipsum dolor sit amet
                consectetur
              </li>
            </ul>
            <a href="#">
              <button>Visit Project &#8594;</button>
            </a>
          </div>
        </div>
        <div class="column">
          <div class="pht-frame">
            <div class="pht">
              <img src="./img/asection2.jpg" alt="" />
            </div>
            <div class="boxpht">
              <p>
                "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id
                accusantium blanditiis tempora beatae iure optio error, aut
                ducimus hic, reprehenderit officia tenetur? Suscipit hic unde
                corrupti sunt magni iure recusandae!"
              </p>
              <div class="botrow">
                <div class="uspic">
                  <img
                    src="./img/people/pexels-andrea-piacquadio-941693.jpg"
                    alt=""
                  />
                </div>
                <div class="detpic">
                  <h2>Jhone Doe</h2>
                  <h3>CEO At NY Water Park</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="main seredi">
        <!-- recent projects -->
        <div class="column">
          <div class="pht-frame">
            <div class="pht">
              <img src="./img/asection2.jpg" alt="" />
            </div>
            <div class="boxpht">
              <p>
                "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id
                accusantium blanditiis tempora beatae iure optio error, aut
                ducimus hic, reprehenderit officia tenetur? Suscipit hic unde
                corrupti sunt magni iure recusandae!"
              </p>
              <div class="botrow">
                <div class="uspic">
                  <img
                    src="./img/people/pexels-marcelo-chagas-2005011.jpg"
                    alt=""
                  />
                </div>
                <div class="detpic">
                  <h2>Margaret Curtis</h2>
                  <h3>Margaret Curtis</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <p>Real Estate</p>
          <h1>Reinstate West Project​​</h1>
          <div class="cont">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
              quo explicabo vero. Quisquam quidem sunt nam ducimus, corporis
              incidunt repudiandae rem, doloribus voluptate saepe nostrum harum
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
              quo explicabo vero. Quisquam quidem sunt nam ducimus, corporis
              incidunt repudiandae rem, doloribus voluptate saepe nostrum harum
            </p>
          </div>
          <div class="recelist">
            <ul>
              <li>
                <i class="fas fa-sort-up"></i> Lorem ipsum dolor sit amet
                consectetur
              </li>
              <li>
                <i class="fas fa-sort-up"></i> Lorem ipsum dolor sit amet
                consectetur
              </li>
              <li>
                <i class="fas fa-sort-up"></i> Lorem ipsum dolor sit amet
                consectetur
              </li>
              <li>
                <i class="fas fa-sort-up"></i> Lorem ipsum dolor sit amet
                consectetur
              </li>
            </ul>
            <a href="#">
              <button>Visit Project &#8594;</button>
            </a>
          </div>
        </div>
      </div>
    </div>
    <section class="second ckas">
      <div class="cover">
        <div class="content">
          <h1>Get Your Free Consultation</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti
            consequuntur similique voluptates esse repellat veniam
          </p>
          <button>
            Book An Appointment <i class="fas fa-arrow-right"></i>
          </button>
        </div>
      </div>
    </section>

  {% include 'main/footer.html' %}
  </body>
</html>
